body {
  background-color: white;
}
h1 {
  color: #0067AF;
  font-family: Tahoma;
}
p {
  color: #00A3CD;
  font-family: Tahoma;
  border-style: solid;
  border-color: #C3EDC4;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #9CE2B9;
  color: blue;
} 
